
												/*booksuploadform-start*/

.bookuploadformcontainer {
	width: 240px;
	height: 480px;
	background-image: url(../img/woodlite.jpg);
	margin: 0 auto;
	color: #000;
	border-radius:7px;
	padding-left:30px;
	ma
	padding-top:10px;
	box-shadow: 10px 10px 5px 000000;
	
}

.bookuploadformcontainerinner{
	width: 240px;
	height:60px;
	margin-left:20px;
	padding-left:20px;
}


.bookuploadformcontainer input[type="text"],select {
	border-radius:10px;
	width:180px;
	helght:20px;
	text-align:center;
	}
	
.bookuploadformcontainer input[type="button"] 
input[type="submit"]{
	
		display: block;
		border-radius:10px;
		margin-top:15px;
		width:  70px;
		height:50px;
	}

	
.bookuploadformcontainer label {
	
	display: inline-block; 
	margin-top: 10px; 
	}

												/*booksuploadform-finish*/



												/*DisplayLibrary-start*/



.libdisplaycontainer {
	width: 1000px;
	background-color: #FFF;
	margin: 0 auto;
}

.libdisplaycontainer table{
	width:1000px;
	height:auto;
	 
}

.libdisplaycontainer tr{
	 display:block;
	 width: 1000px;
	 height:200px;
	 background: url(../img/displaybooks.jpg) no-repeat;
	 background-size:cover;
}

.libdisplaycontainer td{
	 width: 250px;
	 height:200px;
}

.tdinnerframe {
	 width: 225px;
	 height:175px;
	 margin-bottom:25px;
	 margin-left: 15px;
	 margin-right:10px;
}

.titles{
	 width: 225px;
	 height:35px;
	 margin-top:10PX;
	 font-size:16px;
	 bottom: 0;
	 position:static;
	 vertical-align:bottom;
	 font:Georgia, "Times New Roman", Times, serif;
	 text-align:center;
	 word-wrap: break-word;
}

.innframeleft {
	 width: 80px;
	 height:135px;
	 float:left;
}
	 
.innframeleft img{
	 width: 80px;
	 height:135px;
	 float:left;
}


.innframeRight {
	 width: 145px;
	 height:130px;
	 float:left;
	 line-height:20px;
	 font-size:14px;
}


												/*DisplayLibrary-finish*/
												
												/*DisplayLibrary for mobile-start*/
												
												
.libdisplaycontainermobile {
	width: 300px;
	background-color: #FFF;
	margin: 0 auto;
}

.libdisplaycontainermobile table{
	width:300px;
	height:auto;
	 
}

.libdisplaycontainermobile tr{
	 display:block;
	 width: 300px;
	 height:200px;
	 background: url(../img/displaybooks.jpg) no-repeat;
	 background-size:cover;
}

.libdisplaycontainermobile td{
	 width: 250px;
	 height:200px;
}

.tdinnerframe {
	 width: 225px;
	 height:175px;
	 margin-bottom:25px;
	 margin-left: 15px;
	 margin-right:10px;
}

.titles{
	 width: 225px;
	 height:35px;
	 margin-top:10PX;
	 font-size:16px;
	 bottom: 0;
	 position:static;
	 vertical-align:bottom;
	 font:Georgia, "Times New Roman", Times, serif;
	 text-align:center;
	 word-wrap: break-word;
}

.innframeleft {
	 width: 80px;
	 height:135px;
	 float:left;
}
	 
.innframeleft img{
	 width: 80px;
	 height:135px;
	 float:left;
}


.innframeRight {
	 width: 145px;
	 height:130px;
	 float:left;
	 line-height:20px;
	 font-size:14px;
}


												/*DisplayLibrary for mobile-finish*/






.mycenter
{
    background-color:                   white;
    font-family:      TradeGothic, sans-serif;
    margin-left:                       -512px;
    margin-top:                        	  5px;
    position:                        absolute;
    height:                             768px;
    width:                             1024px;
    left:                                 50%;
}

.bodyForLibrary{
	background: url(../img/wood.jpg) no-repeat;
	width:100%;
    height: 100%;
    max-height:100%;
    overflow: auto;
    top: 0px;

}

.one {
    width:33.333%;
    height:100%;
    float:left;
    background-color:red;
}

.libhead {
    height:20px;
    width:100%
    float:left;
    background-color:blue;
    margin-bottom:50px;
}


.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#d6d1d1; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #5b5656 5%, #5b5959 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5b5656), color-stop(1, #5b5959) );
	background:-moz-linear-gradient( center top, #5b5656 5%, #5b5959 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5656", endColorstr="#5b5959");	background: -o-linear-gradient(top,#5b5656,5b5959);

	background-color:#5b5656;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:18px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5b5656 5%, #5b5959 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5b5656), color-stop(1, #5b5959) );
	background:-moz-linear-gradient( center top, #5b5656 5%, #5b5959 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5656", endColorstr="#5b5959");	background: -o-linear-gradient(top,#5b5656,5b5959);

	background-color:#5b5656;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}