<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>collegeportalweb</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>this is to get the url of root directory of project</description>
    <param-name>rootdir</param-name>
    <param-value>http://localhost:2013/collegeportalweb/</param-value>
  </context-param>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
C:\Program Files\Apache Software Foundation\Tomcat 7.0\webapps\collegeportalweb\library\
     </param-value>
  </context-param>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>schedule-upload</param-name>
    <param-value>
        C:\Program Files\Apache Software Foundation\Tomcat 7.0\webapps\collegeportalweb\schedules\
    </param-value>
  </context-param>
  <session-config>
      <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>collegeportalweb.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuSelectServlet</display-name>
    <servlet-name>MenuSelectServlet</servlet-name>
    <servlet-class>collegeportalweb.MenuSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuSelectServlet</servlet-name>
    <url-pattern>/MenuSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountServlet</display-name>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>collegeportalweb.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/AccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>collegeportalweb.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAccountServlet</display-name>
    <servlet-name>AddAccountServlet</servlet-name>
    <servlet-class>collegeportalweb.AddAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccountServlet</servlet-name>
    <url-pattern>/AddAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountServlet</display-name>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <servlet-class>collegeportalweb.DeleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <url-pattern>/DeleteAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BooksUploadServlet</display-name>
    <servlet-name>BooksUploadServlet</servlet-name>
    <servlet-class>collegeportalweb.BooksUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BooksUploadServlet</servlet-name>
    <url-pattern>/BooksUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendBookServlet</display-name>
    <servlet-name>SendBookServlet</servlet-name>
    <servlet-class>collegeportalweb.SendBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendBookServlet</servlet-name>
    <url-pattern>/SendBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddScheduleServlet</display-name>
    <servlet-name>AddScheduleServlet</servlet-name>
    <servlet-class>collegeportalweb.AddScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddScheduleServlet</servlet-name>
    <url-pattern>/AddScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayScheduleAndroidServlet</display-name>
    <servlet-name>DisplayScheduleAndroidServlet</servlet-name>
    <servlet-class>collegeportalweb.andorid.DisplayScheduleAndroidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayScheduleAndroidServlet</servlet-name>
    <url-pattern>/DisplayScheduleAndroidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSchedulesServlet</display-name>
    <servlet-name>DeleteSchedulesServlet</servlet-name>
    <servlet-class>collegeportalweb.DeleteSchedulesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSchedulesServlet</servlet-name>
    <url-pattern>/DeleteSchedulesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSchedulesAndroidServlet</display-name>
    <servlet-name>AddSchedulesAndroidServlet</servlet-name>
    <servlet-class>collegeportalweb.andorid.AddSchedulesAndroidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSchedulesAndroidServlet</servlet-name>
    <url-pattern>/AddSchedulesAndroidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddForumServlet</display-name>
    <servlet-name>AddForumServlet</servlet-name>
    <servlet-class>collegeportalweb.AddForumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddForumServlet</servlet-name>
    <url-pattern>/AddForumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Testservlet</display-name>
    <servlet-name>Testservlet</servlet-name>
    <servlet-class>collegeportalweb.Testservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Testservlet</servlet-name>
    <url-pattern>/Testservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateForumsServlet</display-name>
    <servlet-name>UpdateForumsServlet</servlet-name>
    <servlet-class>collegeportalweb.UpdateForumsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateForumsServlet</servlet-name>
    <url-pattern>/UpdateForumsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteForumsServlet</display-name>
    <servlet-name>DeleteForumsServlet</servlet-name>
    <servlet-class>collegeportalweb.DeleteForumsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteForumsServlet</servlet-name>
    <url-pattern>/DeleteForumsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticateServlet</display-name>
    <servlet-name>AuthenticateServlet</servlet-name>
    <servlet-class>collegeportalweb.andorid.AuthenticateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticateServlet</servlet-name>
    <url-pattern>/AuthenticateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSchedulesAndroidServlet</display-name>
    <servlet-name>DeleteSchedulesAndroidServlet</servlet-name>
    <servlet-class>collegeportalweb.andorid.DeleteSchedulesAndroidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSchedulesAndroidServlet</servlet-name>
    <url-pattern>/DeleteSchedulesAndroidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOnlyServlet</display-name>
    <servlet-name>LoginOnlyServlet</servlet-name>
    <servlet-class>collegeportalweb.andorid.LoginOnlyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOnlyServlet</servlet-name>
    <url-pattern>/LoginOnlyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateForumsServletAndroid</display-name>
    <servlet-name>UpdateForumsServletAndroid</servlet-name>
    <servlet-class>collegeportalweb.andorid.UpdateForumsServletAndroid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateForumsServletAndroid</servlet-name>
    <url-pattern>/UpdateForumsServletAndroid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddForumAndoridServlet</display-name>
    <servlet-name>AddForumAndoridServlet</servlet-name>
    <servlet-class>collegeportalweb.andorid.AddForumAndoridServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddForumAndoridServlet</servlet-name>
    <url-pattern>/AddForumAndoridServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteForumsAndroidServlet</display-name>
    <servlet-name>DeleteForumsAndroidServlet</servlet-name>
    <servlet-class>collegeportalweb.andorid.DeleteForumsAndroidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteForumsAndroidServlet</servlet-name>
    <url-pattern>/DeleteForumsAndroidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordAndroidServlet</display-name>
    <servlet-name>ChangePasswordAndroidServlet</servlet-name>
    <servlet-class>collegeportalweb.andorid.ChangePasswordAndroidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordAndroidServlet</servlet-name>
    <url-pattern>/ChangePasswordAndroidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOutServlet</display-name>
    <servlet-name>SignOutServlet</servlet-name>
    <servlet-class>collegeportalweb.SignOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOutServlet</servlet-name>
    <url-pattern>/SignOutServlet</url-pattern>
  </servlet-mapping>
</web-app>